<div class="chat-container">
  <div class="chat-header">
    Interactive Conversation
  </div>
  
  <div class="chat-messages">
    <div class="message" 
         *ngFor="let message of messages; trackBy: trackByFn" 
         [ngClass]="message.type === 'bot' ? 'bot-message' : 'user-message'">
      {{ message.text }}
    </div>
  </div>
  
  <ng-template #questionContainer></ng-template>
  
  <div class="chat-input" *ngIf="isSubmitButton">
    <button 
      (click)="submitCurrentAnswer()" 
      [disabled]="!currentQuestionComponent?.canSubmit()">
      Send
    </button>
  </div>
</div>