<div class="address-form">
  <div class="form-row" *ngFor="let subQuestion of subQuestions; let i = index">
    <label>{{ subQuestion.questionText }}</label>
    <ng-container [ngSwitch]="subQuestion.inputType">
      <app-text-input
        *ngSwitchCase="'text'"
        [question]="subQuestion"
        #inputs
      ></app-text-input>
      <app-dropdown-input
        *ngSwitchCase="'dropdown'"
        [question]="subQuestion"
        #inputs
      ></app-dropdown-input>
      <app-radio-input
        *ngSwitchCase="'radio'"
        [question]="subQuestion"
        #inputs
      ></app-radio-input>
      <app-calendar-input
        *ngSwitchCase="'calendar'"
        [question]="subQuestion"
        #inputs
      ></app-calendar-input>
    </ng-container>
  </div>
</div>
